# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 94ec40e171b30a97e38db0d2dbf61ceb5549e64ed778adb46213379000a4c44a5bd34f68566642842aaa2617eaa350b9ee933667930b551adb936e1f254da173

test:
  secret_key_base: 0bad8a7685d1f2810e04490942929c64e1a7ba97381e3d1b4f1ebcdb9e3382a591e0309d52349ee5481a6fd97bc1cfa33d3afb8650e35ee5d6b4e4f763aec30b

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
